In [1]:
# import dependencies
import pandas as pd

In [2]:
# import raw data for june 2019
dfJun19 = pd.read_csv('Resources/2019/201906-citibike-tripdata.csv')
dfJun19.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [3]:
# import raw data for june 2020
dfJun20 = pd.read_csv('Resources/2020/202006-citibike-tripdata.csv')
dfJun20.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2

In [10]:
# print size of raw dataframes
print(len(dfJun19.index))
print(len(dfJun20.index))

2125370
1882273

In [11]:
# generate lists of station info column names
startList = ["start station id", "start station name", "start station latitude", "start station longitude"]
endList = ["end station id", "end station name", "end station latitude", "end station longitude"]

In [12]:
# pull station info into separate dataframes, drop duplicates
startStations19 = dfJun19[startList].drop_duplicates(subset="start station id")
startStations20 = dfJun20[startList].drop_duplicates(subset="start station id")

endStations19 = dfJun19[endList].drop_duplicates(subset="end station id")
endStations20 = dfJun20[endList].drop_duplicates(subset="end station id")

In [13]:
# print length of each dataframe
print(f"unique start stations 2019: {len(startStations19.index)}")
print(f"unique end stations 2019: {len(endStations19.index)}")
print(f"unique start stations 2020: {len(startStations20.index)}")
print(f"unique end stations 2020: {len(endStations20.index)}")

unique start stations 2019: 793
unique end stations 2019: 806
unique start stations 2020: 958
unique end stations 2020: 970

In [14]:
# generate list of column names for combined station table
stationCols = ["Station ID", "Station Name", "Station Latitude", "Station Longitude"]

In [15]:
# set column names for all 4 dataframes to be the same
startStations19.columns = stationCols
startStations20.columns = stationCols

endStations19.columns = stationCols
endStations20.columns = stationCols

In [16]:
# concatenate all 4 station dfs
frames = [startStations19, startStations20, endStations19, endStations20]

concatStationsDf = pd.concat(frames)

concatStationsDf

,Station ID,Station Name,Station Latitude,Station Longitude
0,3602,31 Ave & 34 St,40.763154,-73.920827
1,3054,Greene Ave & Throop Ave,40.689493,-73.942061
2,229,Great Jones St,40.727434,-73.993790
3,3771,McKibbin St & Bogart St,40.706237,-73.933871
4,441,E 52 St & 2 Ave,40.756014,-73.967416
...,...,...,...,...
1600094,4011,Westchester Ave & Jackson Ave,40.816124,-73.908116
1600997,3968,Propsect Ave & E 151 St,40.814232,-73.903927
1613990,3966,Wales Ave & E 147 St,40.811314,-73.907729
1744738,3276,Marin Light Rail,40.714584,-74.042817
1835683,3211,Newark Ave,40.721525,-74.046305

In [17]:
# drop duplicate rows by stations id
station_df = concatStationsDf.drop_duplicates(subset="Station ID")
station_df

,Station ID,Station Name,Station Latitude,Station Longitude
0,3602,31 Ave & 34 St,40.763154,-73.920827
1,3054,Greene Ave & Throop Ave,40.689493,-73.942061
2,229,Great Jones St,40.727434,-73.993790
3,3771,McKibbin St & Bogart St,40.706237,-73.933871
4,441,E 52 St & 2 Ave,40.756014,-73.967416
...,...,...,...,...
389219,3184,Paulus Hook,40.714145,-74.033552
854287,3639,Harborside,40.719252,-74.034234
1561749,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810
1744738,3276,Marin Light Rail,40.714584,-74.042817
1835683,3211,Newark Ave,40.721525,-74.046305

In [18]:
# add second column of station ids to match with other tables better
station_df["end station id"] = station_df["Station ID"]
station_df

<ipython-input-18-16c73114270d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_df["end station id"] = station_df["Station ID"]

,Station ID,Station Name,Station Latitude,Station Longitude,end station id
0,3602,31 Ave & 34 St,40.763154,-73.920827,3602
1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3054
2,229,Great Jones St,40.727434,-73.993790,229
3,3771,McKibbin St & Bogart St,40.706237,-73.933871,3771
4,441,E 52 St & 2 Ave,40.756014,-73.967416,441
...,...,...,...,...,...
389219,3184,Paulus Hook,40.714145,-74.033552,3184
854287,3639,Harborside,40.719252,-74.034234,3639
1561749,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3792
1744738,3276,Marin Light Rail,40.714584,-74.042817,3276
1835683,3211,Newark Ave,40.721525,-74.046305,3211

In [22]:
# redo column names to better match raw data column names
redoCols = ["start station id", "Station Name", "Station Latitude", "Station Longitude", "end station id"]
station_df.columns = redoCols

In [23]:
station_df

,start station id,Station Name,Station Latitude,Station Longitude,end station id
0,3602,31 Ave & 34 St,40.763154,-73.920827,3602
1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3054
2,229,Great Jones St,40.727434,-73.993790,229
3,3771,McKibbin St & Bogart St,40.706237,-73.933871,3771
4,441,E 52 St & 2 Ave,40.756014,-73.967416,441
...,...,...,...,...,...
389219,3184,Paulus Hook,40.714145,-74.033552,3184
854287,3639,Harborside,40.719252,-74.034234,3639
1561749,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3792
1744738,3276,Marin Light Rail,40.714584,-74.042817,3276
1835683,3211,Newark Ave,40.721525,-74.046305,3211

In [24]:
# export station df as csv
station_df.to_csv('Resources/citibike-stations.csv', index=False)

In [5]:
# drop station info columns from base dataframes
extraCols = ["start station name", "start station latitude", "start station longitude",
            "end station name", "end station latitude", "end station longitude"]

reduced19 = dfJun19.drop(extraCols, axis=1)
reduced20 = dfJun19.drop(extraCols, axis=1)

In [8]:
# convert reduced-columns dataframes to csv
reduced19.to_csv('Resources/citibike-062019-fewercolumns.csv', index=False)
reduced20.to_csv('Resources/citibike-062020-fewercolumns.csv', index=False)

In [6]:
# create sample dataframes for testing
jun19sample = reduced19.sample(n=1000)
jun20sample = reduced20.sample(n=1000)

In [ ]:
# export sample dataframes as csv files
jun19sample.to_csv('Resources/citibike-jun2019-sample.csv', index=False)
jun20sample.to_csv('Resources/citibike-jun2020-sample.csv', index=False)